h1 {
    color: hsl(10, 5%, 18%);
}

button {
    padding: 5% 10%;
    background-color: #0dcaf0;
}

.main-container {
    margin: auto;
    margin-top: 5%;
    width: 45%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.float {
    margin-bottom: 8%;
}