
<div class="row">

    <div class="col background d-flex align-items-center">
        <h1 class="bebas-neue-regular m-5"> Welcome <br>Back! </h1>
    </div>

    <!-- Colonna destra con il form di login -->
    <div class="col m-5">
        <div class="ms-5 me-5">
            <h2 class="poppins-medium">Login</h2>
            <p class="poppins-light mb-5">Welcome back! Please login to your account.</p>

            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <!-- Username input -->
                <div class="form-outline mb-4">
                    <label class="form-label poppins-medium" for="username">Username</label>
                    <input
                        id="username"
                        type="email"    
                        class="form-control poppins-light p-3"
                        formControlName="username"
                        placeholder="Enter your username"
                        required
                    />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label poppins-medium" for="password">Password</label>
                    <input
                        id="password"
                        type="password"
                        class="form-control p-3"
                        formControlName="password"
                        placeholder="Enter your password"
                        required
                    />
                </div>

                <!-- Error message -->
                <div class="text-danger mb-3" *ngIf="loginError">
                    {{ loginError }}
                </div>

                <!-- Submit button -->
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary btn-block w-100 p-3">Log In</button>
                </div>
            </form>

            <!-- Register modal trigger -->
            <div class="text-center mt-3">
                <app-register-modal></app-register-modal>
            </div>
        </div>
        
    </div>
</div>
