html, body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: block; /* Rende il componente un blocco */
    height: 100vh; /* Occupa l'intera altezza della viewport */
    background-image: url('../../../assets/images/login-background.jpg'); /* Sfondo */
    background-size: cover; /* Copri l'intero contenitore */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Non ripetere l'immagine */
    color: white; /* Imposta il colore del testo su bianco */
}

h1 {
    font-weight: bold;
}

.form-background {
    background-color: rgba(0, 0, 128, 0.1); /* Blu scuro semitrasparente */
    padding: 40px;
    border-radius: 10px;
}

.mb-6 {
    margin-bottom: 15%;
}