<nav class="navbar navbar-light bg-white" *ifAuthenticated>
    <div class="container align-items-center">
        <h3><a class="bebas-neue-regular">LOGO</a></h3>
        <ul class="navbar-nav ms-auto">
            <app-nav-user
                [user]="currentUser$ | async"
                (logout)="logout()"
                *ngIf="(currentUser$ | async)"></app-nav-user>
            <li *ngIf="!(currentUser$ | async)">
                <h3 class="poppins-light" [routerLink]="['login']">Login</h3>
            </li>
        </ul>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>
