<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">TODO~Paolini</a>
        <ul class="navbar-nav ms-auto">
            <app-nav-user
                [user]="currentUser$ | async"
                (logout)="logout()"
                *ngIf="(currentUser$ | async)"></app-nav-user>
            <li class="nav-item" *ngIf="!(currentUser$ | async)">
                <a class="nav-link" [routerLink]="['login']">Login</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>
